<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>DNS Go-Between</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="DnsGoBetween.Api.styles.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script>
        window.dnsTheme = {
            setDarkMode: function (isDark) {
                document.body.classList.toggle('dns-dark-mode', !!isDark);
            }
        };
    </script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
